body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial;
    color: #ffff;
}
canvas {
    margin: 0 0 0 0;
    position: fixed;
    z-index: 1;
    visibility: hidden;
}
.header {
    margin: 0 auto;
    top: 0px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 1px 9px 20px 0px #d0c5ff;
    background-color: #ffff;
    visibility: visible;
}
.logo {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
    left: 50px;
    border-radius: 50%;
    border: 8px solid #9146c1;
}
.welcome-text {
    position: relative;
    left: 150px;
    height: 150px;
    width: 800px;
    background-color: #ffff;
}
.header-h1 {
    font-size: 60px;
    margin: 40px 0px 0 60px;
    color: #4062bb;
}
.main {
    position: relative;
    margin: 0 auto;
    top: 50px;
    max-width: 1440px;
    height: 3000px;
    border-radius: 50px;
    background-color: #ffffff;
    visibility: visible;
    
}
section {
    position: relative;
    margin: 50px 0 0 100px;
    top: 50px;
    height: 500px;
    width: 1200px;
    background-color: red;
}
.game {
    position: relative;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 4px #cac3e9;
    background-color: #ffffff;
}
.menu-model {
    width: 400px;
    height: 100%;
}
.menu-model-show {
    margin: 100px 0 0 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 8px solid black;
    background-color: #ffffff;
}
.menu-model-nickname {
    position: relative;
    top: 80px;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    color: black;
}
.input-game-div {
    margin: 0 0 0 50px;
    width: 400px;
    height: 100%;
}
.input-game-div-h2 {
    margin: 20px 0 0 0;
    color: black;
    font-size: 38px;
    text-align: center;

}
.input-game {
    margin: 150px 0 0 0;
    height: 100px;
    width: 380px;
    border: 4px solid #d0c5ff;
    border-radius: 35px;
    font-size: 32px;
    text-align: center;
}
.buttons-game {
    width: 400px;
    height: 100%;
}
.Button-play {
    margin: 220px 0 0 20px;
    width: 250px;
    height: 100px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    background-color: #42c342;
    border-radius: 30px;
    outline: none;
    border: none;
}
.Button-play-with-friend {
    margin: 20px 0 0 20px;
    width: 250px;
    height: 100px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    background-color: #5498df;
    border-radius: 30px;
    outline: none;
    border: none;
}
.skin-shop {
    position: relative;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 4px #cac3e9;
    background-color: #ffffff;
}
.skin-shop-left {
    height: 100%;
    width: 350px;
}
.skin-shop-svgleft{
    margin: 180px 50px 200px 250px;
    height: 100px;
    width: 100px;
}
.skin-shop-options {
    height: 100%;
    width: 500px;
}
.skin-shop-h2 {
    margin: 20px 0 0 0;
    color: black;
    font-size: 38px;
    text-align: center;
}
.skin-shop-content {
    margin: 20px 100px 20px 100px;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-color: blue;
}
.skin-shop-button {
    margin: 0 125px 0 125px;
    width: 250px;
    height: 80px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    background-color: #42c342;
    border-radius: 24px;
    outline: none;
    border: none;
}
.skin-shop-right {
    height: 100%;
    width: 350px;
}
.skin-shop-svgright {
    margin: 180px 0px 200px 0px;
    height: 100px;
    width: 100px;
    transform: rotate(180deg);
}
.leader-board {
    position: relative;
    height: 1600px;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 4px #cac3e9;
    background-color: #ffffff;
}
.leader-board-day {
    position: relative;
    top: 50px;
    margin: auto;
    overflow: auto;
    width: 1100px;
    height: 400px;
    font-size: 32px;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 4px #cac3e9;
}
.leader-board-h2 {
    margin: 20px 0 0 0;
    color: black;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
}
.leader-board-alltime {
    position: relative;
    top: 100px;
    margin: auto;
    overflow: auto;
    width: 1100px;
    height: 400px;
    font-size: 32px;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 4px #cac3e9;
}
.leader-board-playerstats {
    position: relative;
    top: 150px;
    margin: auto;
    width: 1100px;
    height: 500px;
    font-size: 32px;
    border-radius: 30px;
    box-shadow: 0px 1px 10px 4px #cac3e9;
}
.menu-model-show-stats {
    margin: 50px 0 0 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 8px solid black;
    background-color: #ffffff;
}
.leader-board-display {
    display: flex;
}
.leader-board-player {
    height: 200px;
    margin: 10px 0 0 30px;
    width: 600px;
}
footer {
    visibility: visible;
}
.footer-h2 {
    position: relative;
    color: black;
    font-size: 32px;
    text-align: center;
}
table {
    position: relative;
    margin: 20px 0 0 0;
    width:100%;
    border-collapse:collapse;
    padding:5px;
}
table th {
    padding:5px;
    background: #c2c6ff;
    color: #313030;
}
table td {
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
}